// Use ECDSA with P-256 curve for smaller signatures
const char *private_key_pem = "-----BEGIN EC PRIVATE KEY-----\n"
                             "<your-EC-private-key>\n"
                             "-----END EC PRIVATE KEY-----";

#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "password"
